h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img{
    display: block;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color:#ffffff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .page-header{
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

  }
  @media screen and (min-width:320px){

  .container{
    max-width: 320px;
    height: 56px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0px auto;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    display: flex;
    align-items: center;
    
  }
 
.nav-list {
   display: none;
}
.contact{
  display: none;
}
}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}
  .page-header-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  column-gap: 121px;
}
.logo-color{
  color: #2e2f42;
} 
.title-back{
  margin-bottom: 48px;
}


/* -----------------------------mob vers------------------------------- */


@media screen and (max-width:767px){
  .burger-btn{
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
  }
}


/* --------------------------header tablet! ----------------------------------  */


@media screen and (min-width:768px){
  .container{
  max-width: 768px;
  height: 72px;
  }
  .page-nav{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
  }
  .contact{
    display: flex;
    font-style: normal;
  }
  .nav-list{
    display: flex;
    column-gap: 40px;
  }
   .burger-btn{
    display: none;
  }
  .link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  .link:hover,
  .link.focus{
    color:#404BBF;
  }
  .contact-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  .contact-link:hover,
  .contact-link:focus{
    color:#404BBF;
  }
}


/* ------------------------------------Header desktop!  -------------------------*/


@media screen and (min-width:1158px){
  .container{
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto;
  }
  .page-header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    column-gap: 322px;
  }
  .page-nav{
    column-gap: 76px;
  }
  .contact-list{
    display:flex;
    gap:40px;
  }
  .contact-link{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


/* =============    section 1         =================*/



.title-back .container{
  max-width: 100%;
  height: 432px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url("../images/bg-min.jpg");
  background-color:#2E2F42;
  background-size:cover; 
  background-repeat:no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 72px;
}
.title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  
}
.order-button{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  padding: 13 32;
  border: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:focus,
.order-button:hover{
  background-color: #404BBF;
}

/* =============    section 1    tablet      =================*/


@media screen and (min-width:768px){
  .title-back .container{
    height: 436px;

}
  .title{
  margin-bottom: 36px;
  line-height: 1.07;
  font-size: 56px;

}
}


/* =============    section 1   desctop      =================*/

@media screen and (min-width: 1158px){
  .title-back .container{
    height: 600px;
}
  .title{
    margin-bottom:48px;
  }
  .title-back{
    margin-bottom: 60px;
  }
}

