h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  height: auto;
}
img{
    display: block;
    width: 100%;
    max-width: 100%;

}
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color:#ffffff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
 
  @media screen and (min-width:320px){
    .page-header{
      box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }
  .container{
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0px auto;
    background: #fff;
    display: flex;
    align-items: center;
  }
.nav-list {
   display: none;
}
.contact{
  display: none;
}

.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;

}
.logo-color{
  font-weight: 700;
  color: #2e2f42;
}
  }
/* -----------------------------mob vers------------------------------- */


@media screen and (max-width:767px){
  .burger-btn{
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
  }
  .title-back{
    padding-bottom: 96px;
  }

  .page-header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 0px;
  }

/* ===============mob modal============== */

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  .is_open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.mobile-container {
  border-radius: 4px;
  min-width: 320px;
  padding:24px 24px 40px 16px;
  min-height: 623px;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  display: flex;
  flex-direction: column;
   align-items: flex-start;
   justify-content:space-between;

}
.btn-close-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  position: absolute;
  background-color: #E7E9FC;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.btn-close-mobile:focus{
  background-color: #404BBF;
  border: none;
  fill: #ffffff
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 72px;
  
}
.mob-nav-list-link {
  font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}
.mob-link{
 color: #2E2F42;
}
.mob-link:focus { 
  color: #404BBF;
}
.mob-contact-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 48px;
}
.mob-contact-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-contact-link:focus{
  color: #404BBF;
}

.social-mobile-list {
  display: flex;
  gap: 40px;
}
.social-mobile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-mobile-link:focus{
  background-color:#404BBF;
}
}



/* --------------------------header tablet! ----------------------------------  */


@media screen and (min-width:768px){
 
  .page-header-container{
    max-width: 768px;
     display: flex;
     justify-content:flex-start;
     column-gap: 120px;
  }
  .page-nav{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
  .contact{
    display: flex;
    font-style: normal;
  }
  .nav-list{
    display: flex;
    column-gap: 40px;
  }
   .burger-btn{
    display: none;
  }
  .link{
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    padding: 24px 0;
  }
  .link:hover,
  .link.focus{
    color:#404BBF;
  }
  .contact-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  .contact-link:hover,
  .contact-link:focus{
    color:#404BBF;
  }
  /* ===============mob modal============== */
.mobile {
  display: none;
}
/* ===============mob modal============== */
}

/* ------------------------------------Header desktop!  -------------------------*/


@media screen and (min-width:1158px){
  .container {
    max-width: 1158px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    column-gap: 330px;
  }
  .page-nav{
    column-gap: 76px;
  }
  .contact-list{
    display:flex;
    gap: 40px;
  }
  .contact-link{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}


/* =============    section 1         =================*/



.title-back {
  max-width: 100%;  
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url("../images/bg-min.jpg");
  background-color:#2E2F42;
  background-size:cover; 
  background-repeat:no-repeat;
  background-position: center;
  padding:72px 0;
}
.container-hero{
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 72px;
  margin-right: auto;
  margin-left: auto;
}
.title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  
}
.order-button{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  padding: 13 32;
  border: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:focus,
.order-button:hover{
  background-color: #404BBF;
}

/* =============    section 1    tablet      =================*/


@media screen and (min-width:768px){
  .title-back{
    padding: 112px 0;
  }
  .container-hero{
    max-width: 768px;
  }
  .title-back .container{
    height: 436px;
padding-bottom: 48px;
}
  .title{
    max-width: 496px;
  margin-bottom: 36px;
  line-height: 1.07;
  font-size: 56px;

}
}


/* =============    section 1   desctop      =================*/

@media screen and (min-width: 1158px){
  .title-back{
    max-width: 1158px;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
}
.container-hero{
  max-width: 1158px;
  padding-left: 16px;
  padding-right: 16px;

}

}
.title{
  max-width: 496px;
}


/* =============    section 2  320      =================*/

.benefits{
  padding: 96px 0;
}
.benefits .container{
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  height: 696px;
  display:flex;
  flex-direction: column;
}
.benefit-list{
  display: flex;
  flex-direction: column;
  gap:72px;
  justify-content: center;
  align-items: center;
}
.benefits-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-item{
  width: 288px;
  height: 120px;
}

.benefits-item-icon{
display: none;
}
.strat{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 15.9px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
   

/* =============    section 2  tablet      =================*/

@media screen and (min-width:768px){
.benefits{
  padding:96px 0;
}
.benefits .container{
  max-width: 768px;
  height: 312px;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  margin-top: 48;
}
.benefit-list{
  flex-direction:row;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
  justify-content: space-between;
}
.benefits-title{
  text-align: left;
}
.benefits-item{
  width: 356px;
  height: 120px;
}
}


/* =============    section 2  desktop      =================*/


@media screen and (min-width:1158px) {
  .benefits{
    padding-top: 60px 0;
  }
.benefits .container {
  max-width:1158px;
  padding-left: 16px;
  padding-right: 16px;
  height: 224px;
  align-items: flex-start;
}
.benefit-list-icon{
  display: flex;
  width: 264px;
  height: 112px;
  gap: 24px;
  margin-bottom: 8px;
  border:1px solid #8e8f99;
  border-radius: 4px;
  background-color:#f4f4fd;
  align-items: center;
  justify-content: center;
}
  .benefits-item-icon{
    display:block;
    margin-right: auto;
    margin-left: auto;
}
.benefit-list{
  flex-direction:row;
  flex-wrap:nowrap;
}
.benefits-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;

}
.benefits-item{
  width: calc((100% - 72px) / 4);
}
.strat{
  font-weight:400;
}
}


/* ===========================section 3 320======================= */

.team{
  padding: 96px 0;
  background-color:#F4F4FD;
}
.container-team{
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.our-team{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 72px;
}
.team-name{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;  
}
.team-item{
  display: flex;
  height: 428px;
  flex-direction: column;
  row-gap: 32px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color:#FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.occupation{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}
.social-media-list{
  width:232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media-link{
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus{
    background-color:#404BBF;
}


/* ===========================section 3 tablet======================= */


@media screen and (min-width:768px) and (max-width:1157px){
  
  .container-team{
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-list{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  }


  /* ===========================section 3 DESC======================= */


  @media screen and (min-width:1158px) {
    .team{ 
      padding: 120px 0;
    }
    .container-team{
      max-width: 1158px;  
      padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto; 
  }
  .team-list{
    flex-direction: inherit;
    flex-wrap: nowrap;
    gap: 24px;

  }
  }


  /* ==========================section 4 320=================== */
 @media screen and (min-width:320px) {
  
  .portfolio{
  padding: 96px 0;
 }
 .container-portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
 }
 .portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
 }
.portfolio-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.portfolio-info{
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-image{
  position: relative;
  overflow: hidden;
}
.portfolio-image img{
  display: block;
  max-width: 288px;
  height: 280px;
  object-fit: cover;
 }
 .portfolio-item{
  position: relative;
  overflow: hidden;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item:hover{
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.overlay{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay{
  transform: translateY(0%);
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-type{
  padding-left: 16px;
  padding-top: 32px;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.categor{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 16px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
 }


 /* ==========================section 4 768=================== */


@media screen and (min-width:768px) {
  
.container-portfolio{
  max-width: 768px;
  padding-left: 16px;
  padding-right: 16px;
}
.portfolio-list{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 24px;
}
}

/* ==========================section 4 1158=================== */

@media screen and (min-width:1158px){
.portfolio{
  padding: 120px 0;
}

.container-portfolio{
  max-width: 1158px;
  padding-left: 16px;
  padding-right: 16px;  
}
.portfolio-list{
  row-gap: 47px;
  column-gap: 24px;
}
}

/* ==========================footer 320=================== */

@media screen and (min-width:320px) {
  .footer{
  background-color:#2E2F42;
  padding: 96px 0px;
}
.container-footer{
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  
}
.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-logo-color{
  font-weight: 700;
  color: #F4F4FD;
}
.footer-text{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.footer-social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 72px 0;
}
.footer-media-title{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-media-list{
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
.footer-media-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media-link:hover,
.footer-media-link:focus{
    background-color: #31D0AA;
}
.subscribe{
  text-align: center;
  justify-content: center;
}
.sub-input::placeholder{
  color: #FFFFFF;
}
.sub-text{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;

}
.sub-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; 
  color: #FFFFFF;
  margin: 16px 0px;
}
.sub-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-btn {
  min-width: 165px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-btn:hover{
  background-color:#404BBF;
}

/* -=======================backdrop320===================== */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.backdrop.is-open{
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.modal {
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  padding: 72px 24px 24px 24px;
}
.btn-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  position: absolute;
  background-color: #E7E9FC;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.close-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close-modal:hover,
.btn-close-modal:focus{
  background-color: #404BBF;
  border: none;
  fill: #ffffff
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2E2F42; 
}
.modal-wrapper {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-field {
  position: relative;
}
.modal-field-input{
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px; 
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-input:focus {
  border-color: #4D5AE5;
}
.modal-field-icon{
  position:absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-input:focus + .modal-field-icon{
  fill: #4D5AE5;
}
.modal-textarea-wrapper{
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus{
  border-color: #4D5AE5;
}
.modal-wrapper-checkbox {
  margin-bottom: 24px;
}

.checkbox:checked + .modal-checkbox-user .accept {
  background-color:#404BBF;
  border:none;
  fill: #F4F4FD;
}
.checkbox:focus + .modal-checkbox-user .accept {
  border:1px solid #404BBF;
  border: none;
}

.modal-checkbox-user {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  
}
.accept{ 
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent; 
  margin-right: 8px;
}
.checkbox-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-send-btn {
  display: block;
  height: 56px;
  min-width: 169px;
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor:pointer;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}


/* ==============================footer 768========================= */

 @media screen and (min-width:768px) {

  .container-footer{
    max-width: 768px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-wrap:wrap;
    row-gap: 72px;
    align-items: baseline;
    justify-content:center;
    column-gap: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .subscribe{
    text-align: left;
  }
  .footer-info{
    max-width: 264px;
  }
  .sub-input{
    width: 264px;
    height: 40px;
  }
  .sub-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  /* =====================backdrop 768================== */
  .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999999;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .backdrop.is-open{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .modal {
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 72px 24px 24px 24px;
  }
  .btn-close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    position: absolute;
    background-color: #E7E9FC;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-close-modal:hover,
  .btn-close-modal:focus{
    background-color: #404BBF;
    border: none;
    fill: #ffffff
  }
  
  .modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: #2E2F42; 
  }
  .modal-wrapper {
    margin-bottom: 8px;
  }
  .modal-label {
    display: block;
    margin-bottom: 4px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .modal-field {
    position: relative;
  }
  .modal-field-input{
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-field-input:focus {
    border-color: #4D5AE5;
  }
  .modal-field-icon{
    position:absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-field-input:focus + .modal-field-icon{
    fill: #4D5AE5;
  }
  .modal-textarea-wrapper{
    margin-bottom: 16px;
  }
  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea:focus{
    border-color: #4D5AE5;
  }
  .modal-wrapper-checkbox {
    margin-bottom: 24px;
  }
  
  .checkbox:checked + .modal-checkbox-user .accept {
    background-color:#404BBF;
    border:none;
    fill: #F4F4FD;
  }
  .checkbox:focus + .modal-checkbox-user .accept {
    border:1px solid #404BBF;
    border: none;
  }
  
  .modal-checkbox-user {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    
  }
  .accept{ 
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent; 
    margin-right: 8px;
  }
  .checkbox-policy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
  .modal-send-btn {
    display: block;
    height: 56px;
    min-width: 169px;
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor:pointer;  
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 }


 /* ==============================footer 1158========================= */

@media screen and (min-width:1158px) {
  
.footer{
  padding: 100px 0px;
}
.container-footer{
  max-width: 1158px;
  padding-left: 16px;
  padding-right: 16px;
  column-gap: 80px;
}
.footer-social{
  margin:0px;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.backdrop.is-open{
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  padding: 72px 24px 24px 24px;
}
.btn-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  position: absolute;
  background-color: #E7E9FC;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.close-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close-modal:hover,
.btn-close-modal:focus{
  background-color: #404BBF;
  border: none;
  fill: #ffffff
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2E2F42; 
}
.modal-wrapper {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-field {
  position: relative;
}
.modal-field-input{
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px; 
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-input:focus {
  border-color: #4D5AE5;
}
.modal-field-icon{
  position:absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-input:focus + .modal-field-icon{
  fill: #4D5AE5;
}
.modal-textarea-wrapper{
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus{
  border-color: #4D5AE5;
}
.modal-wrapper-checkbox {
  margin-bottom: 24px;
}

.checkbox:checked + .modal-checkbox-user .accept {
  background-color:#404BBF;
  border:none;
  fill: #F4F4FD;
}
.checkbox:focus + .modal-checkbox-user .accept {
  border:1px solid #404BBF;
  border: none;
}

.modal-checkbox-user {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  
}
.accept{ 
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent; 
  margin-right: 8px;
}
.checkbox-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-send-btn {
  display: block;
  height: 56px;
  min-width: 169px;
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor:pointer;  
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
}